# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
*.env

# Streamlit
.streamlit/secrets.toml

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Colab/temp files
*.zip
*.tmp